In [7]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv("deliveries.csv", encoding="ISO-8859-1")
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [23]:
runs=data.groupby('batsman')
runs.get_group('DA Warner')['batsman_runs'].sum()

4014

In [10]:
mask=data['batsman_runs']==6
new_data=data[mask]
d1=new_data.groupby('batsman')#['batsman_runs'].count().sort_values(ascending=False).head()
d1
d1.get_group('RG Sharma') ['batsman_runs'].count()

173

In [11]:
d1['DA Warner']

KeyError: 'Column not found: DA Warner'

In [12]:
mask=data['batsman']=='DA Warner'
d2=data[mask]
d2.groupby('bowling_team') ['batsman_runs'].sum().sort_values(ascending=False)
# d3.get_group('Chennai Super Kings') ['batsman_runs'].sum()

bowling_team
Kolkata Knight Riders          677
Kings XI Punjab                668
Royal Challengers Bangalore    569
Mumbai Indians                 465
Chennai Super Kings            338
Gujarat Lions                  336
Delhi Daredevils               268
Rajasthan Royals               231
Deccan Chargers                226
Pune Warriors                  118
Rising Pune Supergiant          83
Kochi Tuskers Kerala            16
Rising Pune Supergiants         11
Sunrisers Hyderabad              8
Name: batsman_runs, dtype: int64

In [13]:
def run_scored(batsman_name):
    mask=data['batsman']==batsman_name
    d2=data[mask]
    return d2.groupby('bowling_team') ['batsman_runs'].sum().sort_values(ascending=False)

In [14]:
run_scored('RG Sharma')

bowling_team
Kolkata Knight Riders          710
Delhi Daredevils               670
Chennai Super Kings            535
Kings XI Punjab                528
Royal Challengers Bangalore    519
Rajasthan Royals               403
Deccan Chargers                175
Sunrisers Hyderabad            169
Pune Warriors                  135
Mumbai Indians                 103
Rising Pune Supergiants         92
Rising Pune Supergiant          86
Gujarat Lions                   82
Name: batsman_runs, dtype: int64

In [15]:
death=data[data['over']>15]
all_bats=death.groupby('batsman')['batsman_runs'].count()
x=all_bats>200
b_list=all_bats[x].index.tolist()
b_list

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [16]:
final=data[data['batsman'].isin(b_list)]

In [17]:
runs=final.groupby('batsman')['batsman_runs'].sum().values

In [18]:
balls=final.groupby('batsman')['batsman_runs'].count().values
balls

array([ 382, 2402,  599, 2602,  494, 1964, 1153, 1135, 2902, 1032, 1101,
       1522,  591,  985,  712, 2291, 1634,  406, 1674, 2360,  684,  847,
       1901, 1444, 2680, 1356,  323,  467,  285, 1458, 3274, 2960, 1245,
       3005, 3369, 1333, 1111,  619, 3494, 1219,  865, 2076, 2050],
      dtype=int64)

In [19]:
sr=(runs/balls)*100
sr

array([ 89.0052356 , 145.12905912, 120.86811352, 117.48654881,
       122.67206478, 123.01425662, 121.42237641, 137.7092511 ,
       138.3184011 , 122.28682171, 120.07266122, 118.79106439,
       135.19458545, 116.75126904, 136.93820225, 105.93627237,
       121.97062424, 129.80295567, 140.62126643, 123.00847458,
       130.55555556, 120.07083825, 116.93845345, 114.12742382,
       132.8358209 , 114.5280236 , 105.26315789, 110.27837259,
       106.66666667, 118.79286694, 128.49725107, 127.63513514,
       115.74297189, 118.50249584, 134.99554764, 128.50712678,
       114.85148515, 123.74798061, 126.58843732, 127.72764561,
       113.87283237, 140.75144509, 126.3902439 ])

In [20]:
data.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [21]:
match = pd.read_csv("matches - matches.csv", encoding="ISO-8859-1")

In [22]:
match.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [ ]:
data.head(5)

In [ ]:
new=data.merge(match,left_on='match_id',right_on='id')

In [ ]:
new.groupby(['season','batsman']) ['batsman_runs'].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset='season',keep='first').sort_values('season')